/* BUTTON */

.el-button {
  font-family: 'Kugile', 'GreatVibesRegular', Arial, Helvetica, sans-serif;
  font-weight: 600 !important;
  letter-spacing: 1.5px;
}

.el-button span {
  padding-top: 10px;
}

.el-button--primary {
  color: black !important;
}

.el-button--primary:hover {
  color: darkgray !important;
}

/* TIMELINE */

.el-timeline {
  padding-left: 0;
}

.el-timeline-item__content,
.el-timeline-item__timestamp {
  color: white !important;
  letter-spacing: 1.5px;
}

.el-timeline-item__timestamp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* UPLOAD */

.el-upload {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: 0.2s ease-in-out;
}

.el-upload:hover {
  background-color: rgba(0, 0, 0, 0.75) !important;
  transition: 0.2s ease-in-out;
}

.el-upload-list {
  display: flex;
  gap: 12px;
}

.el-upload-list--picture-card {
  justify-content: center;
}

.el-upload-list__item {
  background-color: rgba(0, 0, 0, 0.5) !important;
  margin: 0 !important;
}

.el-upload-list__item-status-label {
  display: none !important;
}

/* DIALOG */

.el-dialog {
  padding: 16px 0 !important;
  background-color: black !important;
}
