/* BUTTON */

.el-button {
  font-family: 'Montserrat', 'ItaliannoRegular', Arial, Helvetica, sans-serif;
  font-weight: 600 !important;
  letter-spacing: 1.5px;
}

.el-button--primary {
  --el-button-bg-color: black;
  --el-button-border-color: black;
  --el-button-text-color: white;
  --el-button-hover-bg-color: black;
  --el-button-hover-text-color: gray;
  --el-button-disabled-text-color: gray !important;
}

html.dark .el-button--primary {
  --el-button-bg-color: white;
  --el-button-border-color: white;
  --el-button-text-color: black;
  --el-button-hover-bg-color: white;
  --el-button-hover-text-color: darkgray;
  --el-button-disabled-text-color: darkgray !important;
}

/* TIMELINE */

.el-timeline {
  padding-left: 0;
  --el-timeline-node-color: var(--timeline-node-color) !important;
}

.el-timeline-item__content,
.el-timeline-item__timestamp {
  color: var(--text-color) !important;
  letter-spacing: 1.5px;
  font-size: 16px !important;
}

.el-timeline-item__timestamp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* UPLOAD */

.el-upload {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: 0.2s ease-in-out;
}

.el-upload:hover {
  background-color: rgba(0, 0, 0, 0.75) !important;
  transition: 0.2s ease-in-out;
}

.el-upload .el-icon {
  color: white;
}

.el-upload-list {
  display: flex;
  gap: 12px;
}

.el-upload-list--picture-card {
  justify-content: center;
}

.el-upload-list__item {
  background-color: rgba(0, 0, 0, 0.5) !important;
  margin: 0 !important;
}

.el-upload-list__item-status-label {
  display: none !important;
}

/* DIALOG */

.el-dialog {
  padding: 16px 0 !important;
  background-color: var(--el-color-primary) !important;
}

.el-dialog__headerbtn:hover .el-dialog__close {
  color: white !important;
}
