.w-100 {
  width: 100%;
}

.mt-24 {
  margin-top: 24px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mr-8 {
  margin-right: 8px;
}

.pt-16 {
  padding-top: 16px !important;
}

/* PREVIEW IMAGE DIALOG */

.gallery-arrow-wrapper-left,
.gallery-arrow-wrapper-right {
  background-color: rgb(70, 70, 70);
  color: white !important;
  width: 36px !important;
  height: 36px !important;
  border-radius: 100%;
  transition: 0.2s ease-in-out;
  opacity: 0.5;
  position: absolute !important;
  top: calc(50% - 18px);
}

.gallery-arrow-wrapper-right {
  right: 0;
}

.gallery-arrow-wrapper-left:hover,
.gallery-arrow-wrapper-right:hover {
  background-color: rgb(120, 120, 120) !important;
  cursor: pointer;
}

.gallery-download-wrapper {
  position: absolute !important;
  top: -20px;
  right: 60px;
  transition: 0.1s ease-in-out;
  color: var(--el-color-info) !important;
}

.gallery-download-wrapper:hover {
  opacity: 1;
  transition: 0.1s ease-in-out;
  color: white !important;
  cursor: pointer;
}
