@font-face {
  font-family: 'GreatVibesRegular';
  src: url('../fonts/GreatVibesRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kugile';
  src: url('../fonts/Kugile.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  padding: 0;
  margin: 0;
  font-family: 'Kugile', 'GreatVibesRegular', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 28px;
}

/* :root {
  --el-color-primary: #dd0000 !important;
  --el-color-primary-dark-1: #cb0000 !important;
  --el-color-primary-dark-2: #9a0000 !important;
  --el-color-primary-light-1: #e13d3d !important;
  --el-color-primary-light-3: #eb8080 !important;
  --el-color-primary-light-5: #f2aaaa !important;
  --el-color-primary-light-7: #f7d2d2 !important;
  --el-color-primary-light-9: #fcf0f0 !important;
} */

body {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

header,
main {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--el-color-primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--el-color-primary-light-3);
}

@media screen and (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}
