@font-face {
  font-family: 'ItaliannoRegular';
  src: url('../fonts/ItaliannoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'ItaliannoRegular', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 28px;
}

:root {
  --el-color-primary: #ffffff !important;
  --el-color-primary-dark-1: #e6e6e6 !important;
  --el-color-primary-dark-2: #cccccc !important;
  --el-color-primary-light-1: #ffffff !important;
  --el-color-primary-light-3: #ffffff !important;
  --el-color-primary-light-5: #ffffff !important;
  --el-color-primary-light-7: #ffffff !important;
  --el-color-primary-light-9: #ffffff !important;
}

body {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

header,
main {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 70);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(90, 90, 90);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}
