.page-container {
  display: flex;
  flex-direction: column;
  padding: 120px;
  gap: 120px;
  color: white;
}

@media only screen and (max-width: 991px) {
  .page-container {
    gap: 60px;
    padding: 50px 5%;
  }
}
